[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\C_Code]
value                          = I449

[Software\BigFix\EnterpriseClient\Settings\Client\GTS_DEVICE]
value                          = SERVER

[Software\BigFix\EnterpriseClient\Settings\Relay\BESRelay_Register_Affiliation_AdvertisementList]
value                          = I449ALL

[Software\BigFix\EnterpriseClient\Settings\Client\_BESClient_Report_MinimumInterval]
value = 300

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value = http://9.45.93.12:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value = http://9.45.93.13:52311/bfmirror/downloads/

[Software\BigFix\EnterpriseClient\Settings\Client\__RelaySelect_Automatic]
value = 0
