# Log all requests at the Metadata level.
{% if kubernetes_solution == 'maglev' %}
apiVersion: audit.k8s.io/v1beta1
{% else %}
apiVersion: audit.k8s.io/v1
{% endif %}
kind: Policy
rules:
- level: Metadata
