kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: hardening-role-default
rules:
- apiGroups:
  - extensions
  resources:
  - podsecuritypolicies
  resourceNames:
  - hardening-psp-default
  verbs:
  - use
